<div class="container">
  <div class="messages-header">
    <h1 class="messages-header text-center presentation-line"> My messages </h1>
    <%= link_to "New message", new_reservation_message_path, class: "btn medium-btn", style: "background-color: #3945C3" %></div>
  </div>
  <div class="wrapper">
    <div class="container">
    <br><br>
  <% @reservation.messages.each do |message| %>
      <div class="message">
        <% if @reservation.user == @reservation.rooftop.user %>
          <%= cl_image_tag @reservation.rooftop.user.photo, class:"avatar"%>
        <% else %>
          <%= cl_image_tag @reservation.user.photo, class:"avatar", id:"right"%>
        <% end %>
        <div class="message-body">
          <div class="container">
            <strong> <%= @reservation.user.first_name.upcase %> </strong>
            <strong> <%= @reservation.user.last_name.upcase %></strong>
            for <strong><%= @reservation.rooftop.name.upcase %></strong>
            <div class="message-content">
              <p><%= message.content %></p>
            </div>
            <%= link_to reservation_message_path(@reservation, message), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
      <div class="message">
        <div class="message-body">
          <div class="container">
            <strong> <%= @reservation.user.first_name.upcase %> </strong>
            <strong> <%= @reservation.user.last_name.upcase %></strong>
            for <strong><%= @reservation.rooftop.name.upcase %></strong>
            <div class="msgbox">
              <div class="message-image">
                <%= cl_image_tag @reservation.rooftop.user.photo, class:"avatar"%>
              </div>
              <div class="message-content">
                <p><%= message.content %></p>
              </div>
              <div class="delete">
                <%= link_to reservation_message_path(@reservation, message), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
