<div class="container">
<div class="messages-header">
  <h1 class="text-center presentation-line"> My messages </h1>
  <%= link_to "New message", new_reservation_message_path, class: "btn medium-btn", style: "background-color: #3945C3" %></div>

  <% @reservation.messages.each do |message| %>
    <div class="message">
      <div class="message-body">
        <% if @reservation.user = @reservation.rooftop.user %>
          <div class="container" id="left">
            <p><strong>User ID: <%= message.reservation.user_id %></strong></p>
            <p><%= message.content %></p>
            <%= link_to reservation_message_path(@reservation, message), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% else %>
          <div class="container" id="right">
            <p><strong>User ID: <%= message.reservation.user_id %></strong></p>
            <p><%= message.content %></p>
            <%= link_to reservation_message_path(@reservation, message), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
