<br>
<div class="container">
  <br>
  <h1 class="text-center presentation-line"> All my  rooftops <%= link_to "Post a new rooftop", new_rooftop_path(@rooftop), class: "btn medium-btn", style: "background-color: #3945C3" %></h1>
  <hr>
  <div class="row">
    <% @user.rooftops.each do |rooftop| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-trip">
        <% if rooftop.photo.present? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path rooftop.photo, height: 300, crop: :fill %>')">
          <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "photo-w1493246318656-5bfd4cfb29b8_1", height: 300, crop: :fill %>')">
            <% end %>
            <div class="card-bottom">
              <h2><%= rooftop.name %></h2>
              <h5 class="card-trip-pricing"><%= link_to " See it ", rooftop_path(rooftop), class: "btn medium-btn", style: "background-color: #2281D0"%> <div class="link">Price: <%= rooftop.price_per_hour %> € </div></h5>
              <img src='https://d1qb2nb5cznatu.cloudfront.net/users/3459455-large?1516069194' class="card-trip-user avatar-bordered"/>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
