<div class="container">
  <div class="presentation-line">
    <h3>My Profile</h3>
  </div>
  <hr>
    <div class="profile">
      <% if @user.photo.present? %>
      <div class="image">
      <%= cl_image_tag @user.photo, height: 200, width:200, crop: :fill%>
      </div>
      <% else %>
      <%= cl_image_tag "iconfinder_Contact_4074104", height: 180, crop: :fill%>
      <% end %>

    <div class="profile-head">
      <h5>
        <ul>
          <li>
            <label>Name:</label> <%= @user.first_name %> <%= @user.last_name %>
          </li>
          <br>
          <li>
            <label>Email: </label> <%= @user.email %>
          </li>
        </ul>
      </h5>
    </div>
  </div>
  <div class="presentation-line">
    <h3>Edit your profile</h3>
  </div>
  <hr>
  <%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>

  <%= f.submit 'Update changes', class: 'btn btn-flat-card-book'%>
  <%= link_to 'Cancel', '#', class: 'btn-flat-card-cancel' %>
  <% end %>
  <br><br>
</div>


