<div class="container">
  <div class="presentation-line">
  <h3>Edit your rooftop</h3> <%= link_to "Back to list", rooftops_path, class: 'btn-flat-book-little' %>
  </div>

  <hr>
    <%= simple_form_for(@rooftop) do |f| %>
      <%= f.input :name %>
      <%= f.input :address ,  input_html: { id: 'flat_address'}  %>
      <%= f.input :description %>
      <%= f.input :price_per_hour %>
      <%= f.input :photo, input_html: { class: 'btn-input ml-2' } %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: 'pricing-button-green'%>
      <%= link_to 'Cancel', '#', class: 'pricing-button-red' %>
    <% end %>
  <br>

</div>
