<div class="container">
  <h3>Edit your rooftop</h3>

  <hr>
    <%= simple_form_for(@rooftop) do |f| %>
      <%= f.input :name %>
      <%= f.input :address ,  input_html: { id: 'flat_address'}  %>
      <%= f.input :description %>
      <%= f.input :price_per_hour %>
      <%= f.input :photo, input_html: { class: 'btn-input ml-2' } %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: 'btn btn-primary'%>
      <%= link_to 'Cancel', '#', class: 'btn btn-danger ml-2' %>
    <% end %>
  <hr>

<<<<<<< HEAD
  <%= link_to "B, rooftops_path, class: 'btn-flat-book' %>
=======
  <%= link_to " Back to list", rooftops_path %>
>>>>>>> d3b21026bd44c0c6197dd48549eec9ac418adf26
  <br>

</div>
