<div class="container">
  <div class="post">
    <h1 class="text-center">Post a new rooftop</h1>
    <button type="button" class="btn btn-warning btn-circle btn-lg">
            <%= link_to "+", rooftops_path %>
    </button>
  </div>

  <hr>
  <%= simple_form_for(@rooftop) do |f| %>
  <%= f.input :name, placeholder: 'Enter the place name' %>
  <%= f.input :address, placeholder: 'Address',  input_html: { id: 'flat_address'} %>
  <%= f.input :description, placeholder: 'Can you describe the place ?' %>
  <%= f.input :price_per_hour, placeholder: 'Enter your price here' %>
  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>


  <%= f.submit class: 'btn btn-flat-card-book'%>
  <%= link_to 'Cancel', '#', class: 'btn-flat-card-cancel' %>
  <% end %>
<br>
</div>
