<div class="container">
  <div class="post">
    <h1>Post a new rooftop</h1>
    <%= link_to "< Back to list", rooftops_path, class: "btn medium-btn", style: "background-color: #3945C3" %>
  </div>
  <hr>
  <%= simple_form_for(@rooftop) do |f| %>
  <%= f.input :name %>
  <%= f.input :address,  input_html: { id: 'flat_address'} %>
  <%= f.input :description %>
  <%= f.input :price_per_hour %>
  <%= f.input :photo, input_html: { class: 'btn-input ml-2' } %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit class: 'btn btn-primary'%>
  <%= link_to 'Cancel', '#', class: 'btn btn-danger ml-2' %>
  <% end %>
<br>

<input id="flat_address"></input>
</div>
