<div class="container">
<br>
<% if @rooftop.photo.present? %>
  <%= cl_image_tag @rooftop.photo, height: 300, width: 400, crop: :fill %>
<% end %>
<h2><%= @rooftop.name %></h2>
<ul>
    <li><%= @rooftop.address %></li>
    <li><%= @rooftop.description %></li>
    <li>Price per hour: <%= @rooftop.price_per_hour %></li>
</ul>

</div>
