
  <div class="show-container">
    <% if @rooftop.photo.present? %>
    <%= cl_image_tag @rooftop.photo, height: 300, crop: :fill %>
    <% end %>
    <div class="rooftop-presentation">
      <h2><%= @rooftop.name.capitalize %></h2>
      <% if policy(@rooftop).edit? %>
      <%= link_to "Update", edit_rooftop_path(@rooftop), class: "pricing-button" %>
      <% end %>
      <% if policy(@rooftop).destroy? %>
        <button id="sweet-alert-demo" class="pricing-button" >Delete </button>
        <%= link_to "Delete", rooftop_path(@rooftop) , method: :delete, id: "delete-link", class: "hidden" %>
      <% end %>
    </div>
    <div class="panel pricing-table">

      <div class="pricing-plan">
        <img src="https://image.flaticon.com/icons/svg/1250/1250252.svg" alt="" class="pricing-img">
        <h2 class="pricing-header"> Description </h2>
        <span class="pricing-price"><%= @rooftop.description %></span>
      </div>

      <div class="pricing-plan">
        <img src="https://image.flaticon.com/icons/svg/1250/1250292.svg" alt="" class="pricing-img">
        <h2 class="pricing-header"> Address </h2>
        <span class="pricing-price"> <%= @rooftop.address %> </span>
      </div>

      <div class="pricing-plan">
        <img src="https://image.flaticon.com/icons/svg/1250/1250181.svg" alt="" class="pricing-img">
        <h2 class="pricing-header"> Price </h2>
        <span class="pricing-price"><%= @rooftop.price_per_hour %>€</span>
        <% if policy(@rooftop).edit? %>
      <%= link_to "Update", edit_rooftop_path(@rooftop), class: "pricing-button" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
