<div class="container">
  <br>
  <div class="show-container">
    <% if @rooftop.photo.present? %>
    <%= cl_image_tag @rooftop.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="rooftop-presentation">
      <h2><%= @rooftop.name %></h2>

      <ul>
        <li>Adress: <%= @rooftop.address %></li>
        <li>Description: <%= @rooftop.description %></li>
        <li>Price per hour: <%= @rooftop.price_per_hour %></li>
      </ul>
      <% if policy(@rooftop).edit? %>
      <%= link_to "Update", edit_rooftop_path(@rooftop), class: "btn medium-btn", style: "background-color: #3945C3" %>
      <% end %>

      <% if policy(@rooftop).destroy? %>
      <%= link_to " Delete ", rooftop_path(@rooftop),  method: :delete, data: {confirm: "Are you sure?"}, class: "btn medium-btn", style: "background-color: #b20401" %>
      <% end %>
    </div>
  </div>
</div>

