  <div class="show-container">
    <% if @rooftop.photo.present? %>
    <%= cl_image_tag @rooftop.photo, height: 450, crop: :fill %>
    <% end %>
    <div class="rooftop-presentation">
      <h2><%= @rooftop.name.capitalize %></h2>

      <ul>
        <li>Adress: <%= @rooftop.address %></li>
        <li>Description: <%= @rooftop.description %></li>
        <li>Price per hour: <%= @rooftop.price_per_hour %>€</li>
      </ul>
      <% if policy(@rooftop).edit? %>
      <%= link_to "Update", edit_rooftop_path(@rooftop), class: "btn medium-btn", style: "background-color: #3945C3" %>
      <% end %>

      <% if policy(@rooftop).destroy? %>
      <%= link_to " Delete ", rooftop_path(@rooftop),  method: :delete, data: {confirm: "Are you sure?"}, class: "btn medium-btn", style: "background-color: #b20401" %>
      <% end %>
    </div>
  </div>
  <div class="calendar">
    <div class="form-wrapper list-inline" style="width: 400px; margin: 0 auto;">
    <h2>Book this rooftop now</h2>
    <%= simple_form_for [@rooftop, @reservation] do |f| %>
    <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Book now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


